body { margin: 0; padding: 0; position: relative; height: 824px; background: #000;}

* {
  font-family: monospace;
}

@keyframes twinkle {
  0% { box-shadow: 0 0 40px 0px #00FF00; }
  35% { box-shadow:  0 0 40px 3px #00FF00; }
  40% { box-shadow: 0 0 40px 10px #00FF00; }
  50% { box-shadow: 0 0 40px 2px #00FF00; }
  70% { box-shadow:  0 0 40px 7px #00FF00; }
  80% { box-shadow:  0 0 40px 5px #00FF00;}
  100% { box-shadow: 0 0 40px 0px #00FF00; }
}

.header {
  width: 500px;
  margin: auto;
  padding: 0;
}

.header pre {
  margin: 0;
  padding: 0;
  color: #00FF00;
}

.map {
  width: 510px;
  height: 510px;
  border-collapse: collapse;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.map tr {
  margin: 0;
  padding: 0;
}

.map tr td {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 1px solid #4CAF50;
  background: #102711;
}

tr:first-child td, tr td:first-child {
  background: transparent;
  border: 0;
  color: #4CAF50;
  text-transform: uppercase;
  text-align: center;
}

#alphabit {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  background: #00FF00;
  border-radius: 0 50% 50% 50%;
  box-shadow: 0 0 40px 0px #00FF00;
  left: 0;
  top: 0;
  animation: twinkle 2s linear infinite;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#alphabit.facing-north {
  transform: rotate(45deg);
}

#alphabit.facing-east {
  transform: rotate(135deg);
}

#alphabit.facing-south {
  transform: rotate(225deg);
}

#alphabit.facing-west {
  transform: rotate(315deg);
}

.console {
  width: 500px;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.shadow {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 50%;
  background: linear-gradient(#000, transparent);
  background: -webkit-linear-gradient(#000, transparent);
  background: -moz-linear-gradient(#000, transparent);
  background: -o-linear-gradient(#000, transparent);
  z-index: 1;
}

.command-output-area {
  position: absolute;
  width: 100%;
  bottom: 28px;
  font-size: 14px;
}

.command-output-area .output-log {
  color: #008800;
  margin: 3px 0;
}

.command-output-area .output-error {
  color: #880000;
  margin: 3px 0;
}

.command-input-area {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.command-input-area::before {
  content: "$";
  color: #00FF00;
  font-size: 18px;
  width: 10px;
  position: absolute;
}

.command-input-area input.command-input {
  width: 100%;
  border: 0;
  padding: 0 0 0 15px;
  font-size: 18px;
  background: 0;
  color: #00FF00;
  text-transform: uppercase;
  outline: 0;
}
