html, body { margin: 0; border: 0; padding: 0; height: 100% }

#tree-panel {
  height: 100%;
  width: 450px;
}

/* tree-panel head */
.tree-panel_head {
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
}

.tree-panel_head .search-text {
  outline: 0;
}

.tree-panel_head .search-button {
  display: inline-block;
  width: 60px;
  height: 20px;
  background: #EFEFEF;
  border: 1px solid #999;
  cursor: pointer;
  vertical-align: middle;
  line-height: 20px;
  text-align: center;
}

.tree-panel_head .add-button {
  display: inline-block;
  width: 60px;
  height: 20px;
  background: #EFEFEF;
  border: 1px solid #999;
  cursor: pointer;
  vertical-align: middle;
  line-height: 20px;
  text-align: center;
}

/* node view */
.node-view {
  position: relative;
  width: 300px;
  padding-top: 36px;
  cursor: pointer;
}

.node-view > .node-view {
  margin-left: 15px;
}

.node-view.fold .node-view {
  display: none;
}

.node-view .node-view_node-name {
  color: #333;
  font-size: 20px;
  line-height: 36px;
  height: 36px;
  position: absolute;
  right: 72px;
  left: 0;
  top: 0;
  padding: 0 5px;
  overflow: hidden;
}

.node-view.highlight > .node-view_node-name {
  color: #FF5722;
  font-weight: bold;
}

.node-view .node-view_node-name::before {
  content: "\25BE";
  color: #333;
  padding-right: 10px;
}

.node-view.fold .node-view_node-name::before {
  content: "\25B8";
}

.node-view .node-view_button {
  color: #333;
  text-align: center;
  font-size: 18px;
  line-height: 36px;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0;
}

.node-view .del {
  right: 0;
}

.node-view .del::before {
  content: "\2715";
}

.node-view .add {
  right: 36px;
}

.node-view .add::before {
  content: "\FF0B";  
}
