#container {
  border: 5px double #888;
  width: 800px;
  display: flex;
  flex-direction: row;
}

#universe {
  order: 1;
}

#console-panel {
  order: 2;
  height: 400px;
  width: 400px;
}

.console-panel-head {
  height: 30px;
}

.button-group button {
  float: right;
}

.spaceship {
  margin: 5px 20px;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px;
  text-align: right;
}

.spaceship .spaceshipId {
  float: left;
}